<nb-layout center>
    <nb-layout-column style="max-width: 630px;" [nbSpinner]="loading !== 0">
        <nb-card *ngIf="hasError">
            <nb-alert status="danger">
                An error occurred saving your settings.
                Error reported was: {{error}}
            </nb-alert>
        </nb-card>
        <nb-card>
            <nb-card-header>Grocy Settings</nb-card-header>
            <nb-card-body>
                <form [formGroup]="setupForm" class="form mt-4">
                    <div class="form-group row">
                        <label class="col-2 col-form-label">URL: </label>
                        <div class="col-10">
                            <input type="text" nbInput fullWidth placeholder="Grocy URL" formControlName="URL">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-2 col-form-label">API Key: </label>
                        <div class="col-10">
                            <input type="text" nbInput fullWidth placeholder="Grocy API Key" formControlName="APIKey">
                        </div>
                    </div>
                </form>
            </nb-card-body>
        </nb-card>

        <nb-card *ngIf="settings">
            <nb-card-header>Stock Settings</nb-card-header>
            <nb-card-body>
                <p>Show these product groups on the Stock page:</p>
                <nb-list>
                    <nb-list-item>
                        <nb-toggle [(ngModel)]="settings.ShowAllStock">  All</nb-toggle>
                    </nb-list-item>
                    <nb-list-item *ngFor="let p of productGroups">
                        <nb-toggle disabled="{{showAllStock()}}" checked="{{groupSelected(p.Id)}}" (checkedChange)="toggleStockGroup($event, p.Id)">  {{p.Name}}</nb-toggle>
                    </nb-list-item>
                </nb-list>
            </nb-card-body>
        </nb-card>

        <nb-card>
            <button nbButton status="primary" (click)="save()" [disabled]="!setupForm.valid">Save</button>
        </nb-card>
    </nb-layout-column>
</nb-layout>